.collectionWrapper {
     margin-top: 150px;
}
.collectionWrapper h1 {
     font-family: DM Sans;
     font-size: 40px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: -0.003em;
     text-align: left;
     color: #fff;
     text-align: center;
     margin-bottom: 58px;
}
.collectionCards {
     display: flex;
     justify-content: center;
     gap: 53px;
}
.collectionCard {
     display: flex;
     width: 100%;
     padding: 22px;
     border-radius: 9px;
     gap: 33px;
     min-height: 377px;
     background-color: #1F1F1F;
}
.contentUser {
     display: flex;
     align-items: center;
     gap: 8px;
     position: relative;
}
.contentUser img {
     width: 38px;
     height: 38px;
}
.contentUser span {
     font-family: "DM Sans";
     font-size: 14px;
     font-weight: 700;
     line-height: 23px;
     text-align: left;
     color: #fff;
}
.collectionCardContent h1 {
     font-family: "DM Sans";
     font-size: 32px;
     font-weight: 700;
     line-height: 40px;
     letter-spacing: -0.003em;
     text-align: left;
     color: #fff;
     margin: 20px 0;
}
.des {
     font-family: "DM Sans";
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     text-align: left;
     color: #6B6B6B;
}
.title {
     margin: 14px 0 28px 0;
     font-family: "DM Sans";
     font-size: 14px;
     font-weight: 400;
     line-height: 16px;
     text-align: left;
     color: #fff;
     width: 100%;
     max-width: 200px;
}
.contentPrice {
     display: flex;
     align-items: flex-start;
     gap: 41px;
}
.priceCurrent, .priceWatch {
     display: flex;
     flex-direction: column;
     gap: 5px;
}
.priceText {
     font-family: "DM Sans";
     font-size: 12px;
     font-weight: 400;
     line-height: 16px;
     text-align: left;
     color: #6B6B6B;
}
.priceTitle {
     font-family: "DM Sans";
     font-size: 14px;
     font-weight: 700;
     line-height: 22px;
     display: flex;
     align-items: center;
     gap: 5px;
     color: #fff;
}
.btn {
     margin: 34px 0 0 0 !important;
     border: none;
     padding: 14px 45px !important;
} 